body {
    background-color: cornflowerblue;
}

header {
    height: 10%;
    width: 30%;
    background-color: white;
    margin-right: 1cm;
    margin-left: 1cm;
    margin-top: 1cm;
    flex-direction: row;
}


