body {
    background-color: cornflowerblue;
}

header {
    height: 10%;
    width: 30%;
    background-color: white;
    margin-right: 1cm;
    margin-left: 1cm;
    margin-top: 1cm;
}

.inicio {
    flex-direction: row;
    height: 15%;
    width: 30%;
    margin-right: 1cm;
}

.servicios {
    flex-direction: row;
    height: 15%;
    width: 30%;
    margin-right: 1cm;
}

.blog {
    flex-direction: row;
    height: 15%;
    width: 30%;
    margin-right: 1cm;
}
