body {
    background-color: lavender;
}

h1 {
    color: crimson;
    text-align: center;
    margin-bottom: 1cm;
}

h2 {
    color: goldenrod;
    text-align: center;
    margin-bottom: .5cm;
}

p {
    margin-left: 1cm;
    margin-right: 1cm;
    text-align: justify;
}

dd {
    margin-left: 2cm;
    margin-right: 1cm;
    text-align: justify;
}

div {
    text-size-adjust: 20;
    font-family: Arial;
}

hr {
    margin-left: .5cm;
    margin-right: .5cm;
}


