div {
    text-align: center;
}

th {
    border-width: 2px;
    border: solid;
    border-collapse: collapse;
    text-align: center;
    border-color: white;
    padding: 10px;
}

table {
    border-color: white;
}

td {
    border: 1px solid black;
    border-width: 70%;
    padding: 10px;
}