th {
    border-width: 2px;
    border: solid;
    border-collapse: collapse;
    text-align: center;
    border-color: white;
}

table {
    border-color: white;
}

td {
    border: 1px solid black;
    border-width: 70%;
    text-align: center;
}