h1{
    text-align: center;
}
th{
    border: 1px solid aliceblue;  ;
    color:aliceblue;  
    text-align: center;
    padding: 10px;
}
td{
    border: 1px solid #006600;  
    color:aliceblue;  
    text-align: center;
    padding: 10px;
}