h1{
    text-align: center;
}
th{
    border: 1px solid #006600;  
    text-align: center;
    padding: 10px;
    background-color: #99ff99;
}
td{
    border: 1px solid #006600;  
    text-align: center;
    padding: 10px;
    background-color: #99ff99;
}